body{
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(32, 6, 83));
}

.optionContainer{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 70px 0px;
}
.option img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    
}
#move , #display {
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}
button{
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    color: white;
    cursor: pointer;
    margin-left: 45%;
    background-color: rgb(28, 36, 193);
}
.score{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 3rem;
    font-size: 1.7rem;
    color: white;
}
